<!doctype html>
<html>
<head>
    <title>Url Shorty</title>
</head>
<body>
    {{{body}}} <!-- this expression will be replaced with the html for each view
    when we created the handlebar instance, we specified the defaultLayout:'main'. Which 
    means, unless you specify otherwise, this layout will be used for any view
    
    -->
</body>
</html>