<h1>Welcome to URL - Shorty</h1>
<p>Enter in a url similar to this 
https://url-shortyy.herokuapp.com/new/https://www.google.com 
and it will be shortened to this https://url-shortyy.herokuapp.com/ex</p>